//linear-gradient(0deg, #ff9f42 0%, #ed923d 35%, #6d3816 75%, #2e0b04 100%)
/*公共变量*/
@typeArea: 1200px;
.typeArea(){
  width:@typeArea;
  margin: 0 auto;
}
/*------------------- personalTitle -------------------*/

.personalTitle{
  .typeArea();
  height:160px;
  background: linear-gradient(90deg, #c7e4ff 0%, #d0f9fc 35%, #bee2fd 100%);

}